/mvnw text eol=lf
*.cmd text eol=crlf
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.map linguist-detectable=false
*.json linguist-detectable=false
*.java linguist-language=Java