spring:
  mail:
    host: localhost
    port: 1025
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password: 

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    pl.learnedge: DEBUG

# AI Configuration - token podzielony na dwie części
HF_TOKEN: hf_sNspmRjEZBOaQCpxsy
HF_TOKEN2: IzFIYrhhUQnSqVIz
HF_MODEL: facebook/bart-large-mnli

app:
  ai:
    huggingface:
      model: facebook/bart-large-mnli
      api-url: https://router.huggingface.co/models
