server:
  port: 8080
  servlet:
    session:
      cookie:
        path: /
      timeout: 30m

spring:
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  liquibase:
    change-log: classpath:db/master.xml
    contexts: dev
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: [openid, profile, email]
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: [read:user, user:email]
            redirect-uri: "{baseUrl}/login/oauth2/code/github"
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: test
    password: test
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

logging:
  level:
    org.springframework.security: warn
    web: warn
    liquibase: info

app:
  upload:
    dir: uploads/profile-pictures
  ai:
    huggingface:
      token: ${HF_TOKEN}
      model: ${HF_MODEL:joeddav/xlm-roberta-large-xnli}
      api-url: https://router.huggingface.co/models
