<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnEdge - Kurs</title>
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/img/favicon.ico}"
      href="../../static/img/favicon.ico"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Custom -->
    <link
      th:href="@{/css/pages/dashboard.css}"
      href="../../static/css/pages/dashboard.css"
      rel="stylesheet"
    />
  </head>
  <body>
  <nav th:replace="~{fragments/nav :: navbar}"></nav>

    <div class="container py-5">
      <div class="dashboard-container">
        <div
          class="dashboard-header d-flex justify-content-between align-items-center flex-wrap"
        >
          <div>
            <h1 class="mb-1" th:text="${course.name}"></h1>
            <p class="text-light opacity-75 mb-0 small" th:text="${course.description}"></p>
          </div>
        </div>

        <div class="row g-4">
          
          <div class="col-md-6 col-lg-4">
            <div class="course-card h-100 position-relative">
              <span
                class="position-absolute top-0 end-0 m-3 badge rounded-pill bg-secondary"
              >
                 Nieukończone
              </span>
              <h5 class="fw-bold mb-2 d-flex align-items-center mt-3">
                 Typy zmiennych w java
              </h5>
              <p class="small text-light mb-3">
                Lekcja 1
              </p>

              <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-gradient">Wybierz</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="course-card h-100 position-relative">
              <span
                class="position-absolute top-0 end-0 m-3 badge rounded-pill bg-secondary"
              >
                 Nieukończone
              </span>
              <h5 class="fw-bold mb-2 d-flex align-items-center mt-3">
                 Tworzenie komentarzy w java
              </h5>
              <p class="small text-light mb-3">
                Lekcja 2
              </p>

              <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-gradient">Wybierz</button>
              </div>
            </div>
          </div>
          
          

          

    
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
