<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnEdge - Kurs</title>
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/img/favicon.ico}"
      href="../../static/img/favicon.ico"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Custom -->
    <link
      th:href="@{/css/pages/dashboard.css}"
      href="../../static/css/pages/dashboard.css"
      rel="stylesheet"
    />
  </head>
  <body>
  <nav th:replace="~{fragments/nav :: navbar}"></nav>

    <div class="container py-5">
      <div class="dashboard-container">
        <div
          class="dashboard-header d-flex justify-content-between align-items-center flex-wrap"
        >
          <div>
            <div class="d-flex " >
                <h1 class="mb-1" th:text="${course.name}"></h1>
                <a th:href="@{/kreator-lekcji/{course_id}/{course_slug}(course_id=${course.id}, course_slug=${course.slug})}" type="button" class="btn mb-2 "><i class="bi bi-plus-square-fill fs-3 font-color"></i></a>
            </div>


            <p class="text-light opacity-75 mb-0 small" th:text="${course.description}"></p>
          </div>
        </div>

        <div class="row g-4">
          
          <div class="col-md-6 col-lg-4" th:each="lesson : ${course.lessons}">
            <div class="course-card h-100 position-relative">
                <span
                        class="position-absolute top-0 end-0 m-3 badge rounded-pill"
                        th:classappend="${lesson.completed} ? 'bg-success' : 'bg-secondary'">

                    <span th:if="${lesson.completed}">
                        Ukończona <i class="bi bi-check-circle-fill"></i>
                    </span>

                    <span th:unless="${lesson.completed}">
                        Nieukończona <i class="bi bi-hourglass-split"></i>
                    </span>

                </span>
              <h5 class="fw-bold mb-2 d-flex align-items-center mt-3" th:text="${lesson.title}">
                 Typy zmiennych w java
              </h5>
              <p class="small text-light mb-3" th:text="'Lekcja ' + ${lesson.lessonOrder}">
                Lekcja 1
              </p>

              <div class="d-flex justify-content-end">
                <a class="btn btn-sm btn-gradient" th:href="@{/kurs/{slug_course}/{slug_lesson}(slug_course=${course.slug}, slug_lesson=${lesson.slug})}">Wybierz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="alert-container"></div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/alerts.js}"></script>
  </body>
</html>
