<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar" class="navbar navbar-expand-lg fixed-top bg-white shadow">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/panel}">
            <img
                    th:src="@{/img/logo-icon.png}"
                    src="../../static/img/logo-icon.png"
                    alt="Logo"
                    width="40"
                    height="40"
                    class="me-2"
            />
            <span class="brand-gradient">LearnEdge</span>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse text-center justify-content-end"
                id="navbarNav"
        >
            <ul class="navbar-nav align-items-lg-center gap-lg-3">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/panel}">moje kursy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profil}">moje konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/info/about}">O nas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/info/contact}">Kontakt</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                </li>

                <li class="nav-item d-lg-none mt-2">
                    <form th:action="@{/perform-logout}" method="post" class="w-100">
                        <button type="submit" class="btn btn-gradient w-100">wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
        <form th:action="@{/perform-logout}" method="post" class="d-none d-lg-block">
            <button type="submit" class="btn btn-gradient ms-lg-3">wyloguj</button>
        </form>
    </div>
</nav>
</html>