<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LearnEdge - Przypomnienie hasła</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" href="../../static/img/favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />

    <!-- Bootstrap Icons -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Custom -->
    <link th:href="@{/css/pages/login.css}" href="../../static/css/pages/login.css" rel="stylesheet"/>
</head>
<body>
<main>
    <section class="card p-4 shadow">
        <header class="text-center mb-4">
            <img th:src="@{/img/logo-icon.png}" src="../../static/img/logo-icon.png" alt="Logo aplikacji" width="64"
                 height="64" class="mb-3">
            <h1 class="h4 fw-bold brand-gradient">LearnEdge</h1>
        </header>

        <form action="/login" method="post" novalidate aria-label="Formularz logowania">

            <p class="text-muted mb-3 text-center">
            Zapomniałeś hasła? <br> Wpisz adres e-mail, aby otrzymać link do zresetowania.
            </p>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="nazwa@google.com">
                <label for="floatingInput">E-mail</label>
            </div>


            <button type="submit" class="btn btn-gradient w-100 mb-3">Przypomnij hasło</button>
        </form>

    </section>
</main>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>